<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 提供者注册	 -->
    <dubbo:application name="${dubbo_provider_name}" organization="project" owner="${dubbo_owner}" />
    <dubbo:protocol name="dubbo" port="${dubbo_port}"/>

    <!-- 提供接口	 -->
    <dubbo:service interface="com.krxu.dreamer.api.ServiceApi" ref="serviceApi" version="${dubbo_provider_version}"/>
    <bean id="serviceApi" class="com.krxu.dreamer.impl.ServiceApiImpl" />

</beans>